<html><head>

<body>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <center> 
    <%= form_tag(friendships_frnd_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search],placeholder: "Search friends"%>
      <%= submit_tag 'Search', :email => nil, class:"btn btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
       <button type="button"  onclick="document.getElementById('demo').innerHTML = Date()" class="btn btn-success"> Today's Date and Time.</button>

<p id="demo"></p>
  <% end %>
  </center>


<div class="header">
  <a class="logo">Welcome User</a>

	  <div class="header-right">
	  	 
	    <a class="active" href="friendships/frnd">All Users</a>
      <a href="friendships/myprofile">My Profile</a>
      <a href="friendships/myfrnd">My Friends</a>
      <a href="friendships/pending">Pending Requests</a>


	  </div>
	

</div> 
<%#= link_to 'All User', controller: 'fusers' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet">

<script type="text/javascript">
setTimeout(function(){
$('.bxslider').bxSlider({
auto: true,
autoControls: true,

stopAutoOnClick: true,
pager: true,

slideWidth: 1500,
});
},500);
</script>
<table border="2px"align="center">
<center>
<div class="bxslider">
  <div><%= image_tag asset_path("slideer1.jpg"), style:"height: 500px; width: 100%;"%></div>
  <div><%= image_tag asset_path("slideer00.jpg"), style:"height: 500px; width: 100%;"%></div>
  <div>
  <%= image_tag asset_path("slider11.jpg"), style:"height: 500px; width: 100%;" %>
  </div>
  <div>
  <%= image_tag asset_path("slider12.jpg"), style:"height: 500px; width: 100%;" %>
</div>
  
  <div><%= image_tag asset_path("slider16.jpg"),style:"height: 500px; width: 100%;"%></div>
 
  <div><%= image_tag asset_path("slider.jpg"),style:"height: 500px; width: 100%;" %></div>
  

</div> </table></center>

<%= link_to 'Back', users_path %>
</body>
</head>
</html>