<html>
<body><br><br>
	<table border="2px" align="center" width="30%", style="background-color: pink">
	<td>
<center><h1>My Profile </h1></center>
 <ul>
<% if current_user.present? %>
<hr> <strong>Name:</strong>
    <%= current_user.name %><br><br>
	 <strong>Email:</strong>
	<%= current_user.email %><br><br>
     <strong>Image</strong>
	<%= image_tag current_user.image_url.to_s, style:"height: 70px; width: 100px;" %><br><br>
    <strong>About:</strong>
    <%= current_user.about %><br><br>
    <%= link_to 'My gallery', mygalleries_gallery_path, class: "btn btn-success" %>
  <%end%>
</ul>
<%= link_to 'Edit my profile', edit_user_registration_path, class: "btn btn-success" %>
</td>
</table><br>
<center><%= link_to 'Back', :back, class: "btn btn-success btn-lg" %></center>

</body>
</html>