<%= form_with scope: :fuser, url: fusers_path, local: true do |form| %>
 
  <% if @fuser.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@fuser.errors.count, "error") %> prohibited
        this fuser from being saved:
      </h2>
      <ul>
        <% @fuser.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <p>
    <%= form.label :image%><br>
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :about %><br>
    <%= form.text_area :about %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', fusers_path %>